<ion-content [fullscreen]="true">
  <div id="bg">
    <ion-fab vertical="bottom" edge horizontal="center" slot="fixed">
      <ion-fab-button color="white" [routerLink]="['/landing']">
        <ion-icon name="close-outline" color="medium"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <form>      
    <ion-list lines="none" class="ion-margin">
      <ion-list-header>HI! We are TEMPO TUNES</ion-list-header>

      <ion-item class="ion-margin">
        <ion-input placeholder="Username" required type="text" [(ngModel)]="name" name="name" clearInput="true"></ion-input>
      </ion-item>

      <ion-item class="ion-margin">
        <ion-input placeholder="Email" required type="email" [(ngModel)]="email" name="email" clearInput="true"></ion-input>
      </ion-item>

      <ion-item class="ion-margin">
        <ion-input placeholder="Password" required type="password" [(ngModel)]="password" name="password" clearInput="true"></ion-input>
      </ion-item>

      <div align="right">
        <ion-button shape="round" strong="true" class="ion-margin-end" color="plant" type="submit" (click)="register()">
          SIGN UP
          <ion-icon name="log-in" slot="end"></ion-icon>
  
        </ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>