<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title align="center">
      Search Music
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Search Music" [(ngModel)]="campo"  type="text" (keyup.Enter)="buscar(campo)">
    <!--input placeholder="Search Music" type="text" (keyup.Enter)="buscar()"></ionput-->
  </ion-searchbar>

  <div class="section">
    <div class="mg">
        <ion-card button="true"  *ngFor="let artista of artistas">
        
            <ion-img alt="" [src]="artista.images[0].url" ></ion-img>
              <ion-card-header>
                <ion-card-title>{{artista.name}}</ion-card-title>
              </ion-card-header>
        
        </ion-card>
    </div>
  </div>

  
</ion-content>
 