

<ion-content>
  <h2 class="section-header2" align="center" >TEMPO TUNES</h2>
  <!--Something New-->
  <div class="section">
    <h2 class="section-header">Something New</h2>
    <div class="mg">
        <ion-card button="true"  *ngFor="let cancion of nuevasCanciones">
        
            <ion-img alt="" [src]="cancion.images[0].url" ></ion-img>
              <ion-card-header>
                <ion-card-title>{{cancion.name}}</ion-card-title>
              </ion-card-header>
        
              <ion-card-content *ngFor="let artista of cancion.artists">
                {{artista.name}}
              </ion-card-content>
        </ion-card>
    </div>
  </div>
    

    <!--Spanish-->

    <div class="section">
      <h2 class="section-header">Something in Spanish</h2>
      <div class="mg">
          <ion-card button="true"  *ngFor="let cancion of nuevasCanciones2">
          
              <ion-img alt="" [src]="cancion.images[0].url" ></ion-img>
                <ion-card-header>
                  <ion-card-title>{{cancion.name}}</ion-card-title>
                </ion-card-header>
          
                <ion-card-content *ngFor="let artista of cancion.artists">
                  {{artista.name}}
                </ion-card-content>
          </ion-card>
      </div>
    </div>
    
</ion-content>

